@import url(common.css);

body{
      background-color:  #fbf8f0;
      
}

.container{
    max-width: 900px;
    height:100vh; 
    padding:20px 0px;

}

h1{
    margin-left:10px;
    font-size: 35px;

}
.loca{
    width:100%;
    height:95px;
    position: relative;

}

#loca-input{
    width: 38%;
    position: absolute;
    top:50%;
    left:30%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border: none;
    border: 2px solid #3c492f;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
}
#state{
    width: 38%;
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border: none;
    border: 2px solid #3c492f;
    border-radius: 50px;
    justify-content: center;
    text-align: center;

}
#loca-inputt{    width: 40%;
    position:absolute;
    padding: 10px;
    border: none;
    border: 2px solid #3c492f;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

/*전체 박스 색*/
.tem{
    width:100%;
    height:100vh;
    background-color: #e2e8dc ;
    background-size: cover;
    border-radius: 50px  50px 0px 0px;
    

}


#now-city{
    padding-top: 10px;
    font-size: 20px;
    text-align:center;
}

#now-ondo{
    margin-top: -10px;
    font-size: 60px;
    text-align: center;
}

.emoji{
    justify-content: center;
    margin:0 auto;
    width:100%;


}
.emoji div{
    width:50%;
    border-radius:20px;
    box-shadow: rgb(60, 73, 47, 0.3) 0px 7px 29px 0px;
    background-color:white ;
    text-align: center;
    min-height: 130px;
    margin:10px;

}
.emoji p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tip{
    width:90%;

    margin:0 auto;
}
.tip div{
    width:10%;
    min-height: 130px;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgb(60, 73, 47, 0.3) 0px 7px 29px 0px;
    background-color:white;
    margin:20px 0;
}
.tip div:first-child{
    margin-right: 20px;
}
.left{
    text-align: left;
    font-weight: 400;
    padding: 5px;

}

